// utils imports
@import './utils/variables';
@import './utils/mixins';

// views imports
@import './views/app';

// components imports
@import './components/addPokemon';
@import './components/card';
@import './components/error';
@import './components/footer';
@import './components/form';
@import './components/header';
@import './components/home';
@import './components/main';
@import './components/nav';
@import './components/pokeList';
